@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
	margin: 0;
}

h1{
	font-size: 12.5rem;
	font-weight: 900;
	color: rgb(255, 255, 255);
	margin-bottom: 2rem;
	max-width: 100ch;
	line-height: 1;
	text-align: left;
}

h2{
	color: rgb(255, 255, 255);
	font-weight: 500;
	font-size: 1.875rem;
	max-width: 35ch;
	padding: 1rem 0rem;
	margin: 2rem 0rem;
	/*margin: top/bottom left/right*/
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1.25rem;
}

a[href^="#"]{
	color: rgb(255, 0, 0);
	text-decoration: none;
	font-size: 3rem;
}

blockquote {
	color: rgb(0, 0, 0);
	font-weight: 400;
	max-width: 45ch;
	margin: 4rem 0rem 1rem 1.9rem;
	/*margin: top right bottom left*/
}

/* blockquote quotation */
blockquote p::before {
	content: '\201C';
}

/* blockquote quotation */
blockquote p::after {
	content: '\201D';
}

/* <p>What we come to think of as Good design</p> */
section.h3-body p:nth-of-type(13) {
	font-size: 1.2rem;
	margin-top: 4rem;
}

section.h3-body p:nth-of-type(14) {
	font-size: 1.5rem;
	max-width: 35ch;
}

section.h3-body p:nth-of-type(15) {
	font-size: 1.8rem;
	max-width: 38ch;
}

section.h3-body p:nth-of-type(16) {
	font-size: 3rem;
	font-weight: 700;
	margin: 2rem 0;
}

h3{
	color: rgb(0, 0, 0);
	font-weight: 800;
	font-size: 6rem;
	margin: 2rem 0rem 0.5rem 5rem;
	line-height: 1;
}

p {
	max-width: 54ch;
	line-height: 1.5;
	margin-bottom: 1.25rem;
	text-align: justify;
}

/*font weight light in <p>*/
em {
	font-family: "Playfair", serif;
	font-size: 1.5rem;
	font-weight: 300;
}

footer { 
	font-weight: 400;
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
	background-color: black;
	padding: 2rem;
	
}

.highlight-good {
	font-weight: 600;
	font-size: 1.8rem;
}

.highlight-bad {
	font-weight: 600;
	font-size: 1.8rem;
}

.page{
	font-weight: 400;
	font-size: 1.125rem;
	color: rgb(159, 159, 159);
}

.center-content {
	background-color: black;
	padding: 4rem
}

.explore-article {
	margin-left: 5rem;
	text-decoration: underline;
	padding-bottom: 1.25rem;
	font-size: 1.5rem;
}

.footnote-article {
	text-decoration: underline;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
}

.h3-body {
	margin-left: 45rem;
	padding-bottom: 2rem;
}

.author-cite {
	font-size: 2.6rem;
	font-weight: 800;
	line-height: 1;
	color: rgb(255, 0, 0);
	text-align: left;
}

a.explore-article:hover {
	color: rgb(255, 0, 0);
}