@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 20px;
}

h1{
	font-size: 200px;
	font-weight: 900;
	color: rgb(255, 255, 255);
	margin-bottom: 1%;
	max-width: 100ch;
	line-height: 100%;
}

hgroup {
	background-color: black;
	padding: 2em
}

a {
	color: white;
	text-decoration: none;
}

a[href^="#"]{
	color: white;
	text-decoration: none;
}

blockquote {
	color: rgb(0, 0, 0);
	font-weight: 400;
	margin-left: 30px;
	margin-bottom: 5%;
	margin-top: 5%;
}

/* blockquote quotation */
blockquote p::before {
	content: '\201C';
}

blockquote p::after {
	content: '\201D';
}

/*linked "Reading" to PDF*/
a[href*='https://readings.design/PDF/Kalman,%20Tibor%20and%20Karrie%20Jacobs%20%E2%80%94%20We']
{
	text-decoration: underline;
} /*how to open link to another tab?*/

/* hover color over "Reading" */
a:hover { color: rgb(255, 0, 0); }

h2{
	color: rgb(255, 255, 255);
	font-weight: 800;
	font-size: 40px;
	margin-top: 8%;
	margin-bottom: 4%;
	background-color: black;
	padding-top: 1em;
	padding-bottom: 1em;
}

p {
	max-width: 54ch;
	line-height: 150%;
	margin-bottom: 20px;
	text-align: justify;
}

/*font weight light in <p>*/
span {
	font-weight: 350;
}

footer { 
	font-weight: 300;
	font-size: 10;
	font-style: italic;
	color: rgb(255, 255, 255);
	background-color: black;
	padding-left: 40%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.page{
	font-weight: 300;
	font-size: 18px;
	color: rgb(120, 119, 119);
}

.left-column{
	text-align: left;
	padding-left: 10%;
	padding-right: 90%;
}

.right-column {
	text-align: left;
	padding-left: 40%;
}

.author-cite {
	font-size: 43px;
	font-weight: 800;
	color: rgb(255, 0, 0);
	line-height: 100%;
}

.quote-cite {
	font-size: 10;
	font-style: italic;
	color: rgb(0, 0, 0);
	font-weight: 400;
}
