@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 24px;
}

h1{
	font-size: 100px;
	font-weight: 900;
	color: rgb(188, 21, 21);
}

h2{
	color: rgb(188, 21, 21);
	font-weight: 800;
	font-size: 40px;
}

p {
	max-width: 70ch;
}

